<% provide(:title, 'About Us') %>

  <h1>О нас</h1>
  <p>Всякая инфа бла бла
	<a href="https://rubygems.org"> Например бла фыыфыыфыфвфвывфыфв</a> 
 Еще бла бла
  </p>

  <div id="ttour">
  <div class="tourss">
  	<div class="new-tour nt-fullwidth">
	  	<div class= "new-tour-photo">
	  	<%= image_tag("viva.jpg", :alt => "rss feed", id:"abbvc") %>
	  	</div>

	  
	  	<div class= "new-tour-info">
	  		<div class= "new-tour-data">25.06-30.06</div>
	  		<div class= "new-tour-people">2 взрослых</div> 
	  		<div class= "new-tour-nights">5 ночей</div>  
	  	</div>

	  	<div class= "new-tour-hotel">
	  		<div class= "new-tour-name">VIVA MARIA, 3*</div>
	  		<div class= "new-tour-city">Абхазия, Сухум</div> 
	  		<div class= "new-tour-food">Все включено</div>  
	  		<div class= "new-tour-room">Тип размещения: Standart</div>  
	  	</div>
	  	

	  	<div class= "new-tour-buy">
	  		<div class= "new-tour-cost">Cтоимость</div> 
	  		<div class= "new-tour-money">29500 руб.</div> 
	  		<div class= "new-tour-next"><%= link_to 'Забронировать', new_contract_path ,:class => 'btn btn-mini btn-next' %></div> 
	  	</div>

  	</div>
  </div>

  <div class="tourss">
  	<div class="tourss">
  	<div class="new-tour nt-fullwidth">
	  	<div class= "new-tour-photo">
	  	<%= image_tag("dhanat.jpg", :alt => "rss feed", id:"abbvc") %>
	  	</div>

	  
	  	<div class= "new-tour-info">
	  		<div class= "new-tour-data">28.06-1.06</div>
	  		<div class= "new-tour-people">2 взрослых</div> 
	  		<div class= "new-tour-nights">3 ночей</div>  
	  	</div>

	  	<div class= "new-tour-hotel">
	  		<div class= "new-tour-name">Джанат, 3*</div>
	  		<div class= "new-tour-city">Абхазия, Сухум</div> 
	  		<div class= "new-tour-food">Все включено</div>  
	  		<div class= "new-tour-room">Тип размещения: Эконом</div>  
	  	</div>
	  	

	  	<div class= "new-tour-buy">
	  		<div class= "new-tour-cost">Cтоимость</div> 
	  		<div class= "new-tour-money">25100 руб.</div> 
	  		<div class= "new-tour-next"><%= link_to 'Забронировать', new_contract_path ,:class => 'btn btn-mini btn-next' %></div> 
	  	</div>

  	</div>
  </div>
  </div>

  <div class="tourss">
  	<div class="tourss">
  	<div class="new-tour nt-fullwidth">
	  	<div class= "new-tour-photo">
	  	<%= image_tag("atrium.jpg", :alt => "rss feed", id:"abbvc") %>
	  	</div>

	  
	  	<div class= "new-tour-info">
	  		<div class= "new-tour-data">1.07-7.07</div>
	  		<div class= "new-tour-people">2 взрослых</div> 
	  		<div class= "new-tour-nights">6 ночей</div>  
	  	</div>

	  	<div class= "new-tour-hotel">
	  		<div class= "new-tour-name">Атриум Виктория, 3*</div>
	  		<div class= "new-tour-city">Абхазия, Сухум</div> 
	  		<div class= "new-tour-food">Все включено</div>  
	  		<div class= "new-tour-room">Тип размещения: Люкс</div>  
	  	</div>
	  	

	  	<div class= "new-tour-buy">
	  		<div class= "new-tour-cost">Cтоимость</div> 
	  		<div class= "new-tour-money">36350 руб.</div> 
	  		<div class= "new-tour-next"><%= link_to 'Забронировать', new_contract_path ,:class => 'btn btn-mini btn-next' %></div> 
	  	</div>

  	</div>
  </div>
  </div>


  </div>

