<div class="fh5co-hero toptour">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">

							<div class="col-sm-9 col-md-9">
								<div class="tabulation animate-box">

								  <!-- Nav tabs -->
								   <ul class="nav nav-tabs" role="tablist">
								      <li role="presentation" class="active">
								      	<a href="#" aria-controls="searchTour" role="tab" data-toggle="tab">Подбор тура</a>
								      </li>
								   </ul>

								   <!-- Tab panes -->
									<div class="tab-content">
									 <div role="tabpanel" class="tab-pane active" id="flights">
										<div class="row">

											<div class="col-xxs-12 col-xs-4 mt">
												<div class="input-field">
													<label for="from">Откуда</label>
													<input type="text" class="form-control" id="from-place" placeholder="Москва"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-4 mt alternate">
												<div class="input-field">
													<label for="date-start">Дата начала</label>
													<input type="text" class="form-control" id="datepicker" placeholder="mm/dd/yyyy"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-4 mt ">
												<div class="input-field">
													<label for="date-end">Дата окончания</label>
													<input type="text" class="form-control" id="datepicker2" placeholder="mm/dd/yyyy"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">Страна</label>
													<input type="text" class="form-control" id="to-country" placeholder="Абхазия"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">Город</label>
													<input type="text" class="form-control" id="to-city" placeholder="Сухум"/>
												</div>
											</div>

											<div class="ol-xxs-12 col-xs-6 mt ">
												<section>
													<label for="class">Категория отеля </label>
													<select class="cs-select cs-skin-border" id="maxi1">
														<option value="apts" selected>Не важно</option>
														
														<option value="2">2 Звезды</option>
														<option value="3">3 Звезды</option>
														<option value="4">4 Звезды</option>
														<option value="5">5 Звезд</option>
														
													</select>
												</section>
											</div>

											<div class="ol-xxs-12 col-xs-6 mt ">
												<section>
													<label for="class">Тип питания </label>
													<select class="cs-select cs-skin-border" id="maxi2">
														
														<option value="RO" selected="">Без питания</option>
														<option value="BB">Только завтрак</option>
														<option value="HB">Завтрак,ужин</option>
														<option value="FB">Завтрак,обед,ужин</option>
														<option value="AI">Все включено</option>
														
													</select>
												</section>
											</div>
											
											
											
											<div class="ol-xxs-6 col-xs-4 mt ">
												<section>
													<label for="class">Количество ночей от </label>
													<select class="cs-select cs-skin-border  ">
														<option value="1" selected>1</option>
														
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="4">5</option>
														<option value="4">6</option>
														<option value="4">7</option>
														<option value="4">8</option>
													</select>
												</section>
											</div>
											<div class="ol-xxs-6 col-xs-2 mt ">
												<section>
													<label for="class"> до </label>
													<select class="cs-select cs-skin-border">
														<option value="7"  selected>7</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="4">5</option>
														<option value="4">6</option>
														
														<option value="4">8</option>
													</select>
												</section>
											</div>

											

											<div class="col-xxs-6 col-xs-3 mt">
												<section>
													<label for="class">Взрослые</label>
													<select class="cs-select cs-skin-border">
														<option value="2"  selected>2</option>
														<option value="1">1</option>
														
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="4">5</option>
														<option value="4">6</option>
													</select>
												</section>
											</div>

											<div class="col-xxs-6 col-xs-3 mt">
												<section>
													<label for="class">Дети</label>
													<select class="cs-select cs-skin-border">
														<option value="0"  selected>0</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
													</select>
												</section>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">Стоимость,руб. от</label>
													<input type="text" class="form-control" id="priceot" placeholder="0"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">до</label>
													<input type="text" class="form-control" id="pricedo" placeholder="150 000"/>
												</div>
											</div>


											<div class="col-xs-12">
												<%= link_to 'Поиск', restplaces_path,:class => 'btn btn-primary btn-block'%>
											</div>
										</div>
									 </div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>

		</div>

	</div>

	<div id="ttour">
  	<div class="tourss">
  	<div class="new-tour nt-fullwidth">
	  	<div class= "new-tour-photo">
	  	<%= image_tag("dhanat.jpg", :alt => "rss feed", id:"abbvc") %>
	  	</div>

	  
	  	<div class= "new-tour-info">
	  		<div class= "new-tour-data">28.06-1.06</div>
	  		<div class= "new-tour-people">2 взрослых</div> 
	  		<div class= "new-tour-nights">3 ночей <%= link_to 'Подробнее', new_contract_path ,:class => 'btn btn-mini btn-next' %> </div>  
	  	</div>

	  	<div class= "new-tour-hotel">
	  		<div class= "new-tour-name">Джанат, 3*</div>
	  		<div class= "new-tour-city">Абхазия, Сухум</div> 
	  		<div class= "new-tour-food">Все включено</div>  
	  		<div class= "new-tour-room">Тип размещения: Эконом</div>  
	  	</div>
	  	

	  	<div class= "new-tour-buy">
	  		<div class= "new-tour-cost">Cтоимость</div> 
	  		<div class= "new-tour-money">25100 руб.</div> 
	  		<div class= "new-tour-next"><%= link_to 'Забронировать', new_contract_path ,:class => 'btn btn-mini btn-next' %></div> 
	  	</div>

  	</div>
  </div>
  </div>

	
  <div class="tourss">
  	<div class="new-tour nt-fullwidth">
	  	<div class= "new-tour-photo">
	  	<%= image_tag("viva.jpg", :alt => "rss feed", id:"abbvc") %>
	  	</div>

	  
	  	<div class= "new-tour-info">
	  		<div class= "new-tour-data">25.06-30.06</div>
	  		<div class= "new-tour-people">2 взрослых</div> 
	  		<div class= "new-tour-nights">5 ночей <%= link_to 'Подробнее', new_contract_path ,:class => 'btn btn-mini btn-next' %> </div> 

	  	</div>

	  	<div class= "new-tour-hotel">
	  		<div class= "new-tour-name">VIVA MARIA, 3*</div>
	  		<div class= "new-tour-city">Абхазия, Сухум</div> 
	  		<div class= "new-tour-food">Все включено</div>  
	  		<div class= "new-tour-room">Тип размещения: Standart</div>  
	  	</div>
	  	

	  	<div class= "new-tour-buy">
	  		<div class= "new-tour-cost">Cтоимость</div> 
	  		<div class= "new-tour-money">29500 руб.</div> 
	  		<div class= "new-tour-next"><%= link_to 'Забронировать', new_contract_path ,:class => 'btn btn-mini btn-next' %></div> 
	  	</div>

  	</div>
  </div>

  

  
  	<div class="tourss">
  	<div class="new-tour nt-fullwidth">
	  	<div class= "new-tour-photo">
	  	<%= image_tag("atrium.jpg", :alt => "rss feed", id:"abbvc") %>
	  	</div>

	  
	  	<div class= "new-tour-info">
	  		<div class= "new-tour-data">1.07-7.07</div>
	  		<div class= "new-tour-people">2 взрослых</div> 
	  		<div class= "new-tour-nights">6 ночей <%= link_to 'Подробнее', new_contract_path ,:class => 'btn btn-mini btn-next' %> </div>  
	  	</div>

	  	<div class= "new-tour-hotel">
	  		<div class= "new-tour-name">Атриум Виктория, 3*</div>
	  		<div class= "new-tour-city">Абхазия, Сухум</div> 
	  		<div class= "new-tour-food">Все включено</div>  
	  		<div class= "new-tour-room">Тип размещения: Люкс</div>  
	  	</div>
	  	

	  	<div class= "new-tour-buy">
	  		<div class= "new-tour-cost">Cтоимость</div> 
	  		<div class= "new-tour-money">36350 руб.</div> 
	  		<div class= "new-tour-next"><%= link_to 'Забронировать', new_contract_path ,:class => 'btn btn-mini btn-next' %></div> 
	  	</div>

  	</div>
  </div>
  </div>


  </div>