<p id="notice"><%= notice %></p>

<h1>Listing Edrives</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edrives.each do |edrife| %>
      <tr>
        <td><%= link_to 'Show', edrife %></td>
        <td><%= link_to 'Edit', edit_edrife_path(edrife) %></td>
        <td><%= link_to 'Destroy', edrife, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edrive', new_edrife_path %>
