<h1 id='titl1'>Список заявок</h1>

<table class="table table-">
<thead>
	<tr>
		<th>Номер #</th>
		<th><%= @contract.id %></th>
	</tr>

</thead>
<tbody>
	<tr>
		<td>Дата создания</td>
		<td><%= @contract.open_date %></td>
	</tr>
	<tr>
		<td>Страна</td>
		<td><%= @contract.dop_info %></td>
	</tr>

	<tr>
		<td>Город</td>
		<td><%= @contract.dop_info %></td>
	</tr>
	<tr>
		<td>Турист</td>
		<td><%= @contract.dop_info %></td>
	</tr>
	<tr>
		<td>Отель</td>
		<td><%= @contract.dop_info %></td>
	</tr>

	<tr>
		<td>Кол-во взрослых</td>
		<td><%= @contract.status %></td>
	</tr>

	<tr>
		<td>Кол-во детей</td>
		<td><%= @contract.status %></td>
	</tr>

	<tr>
		<td>Сотрудник</td>
		<td><%= @contract.dop_info %></td>
	</tr>
	
	<tr>
		<td>Номер путевки</td>
		<td><%= @contract.status %></td>
	</tr>

	<tr>
		<td>Стоимость</td>
		<td><%= @contract.dop_info %></td>
	</tr>

	<tr>
		<td>Статус</td>
		<td><%= @contract.status %></td>
	</tr>

	<tr>
		<td>Доп. информация</td>
		<td><%= @contract.dop_info %></td>
	</tr>
</tbody>


</table>

<%= link_to 'Редактировать' ,edit_contract_path(@contract),:class => 'btn btn-mini'  %>
<%= link_to 'Назад', contracts_path,:class => 'btn btn-mini'  %>