<div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
      </div>
      <div class="modal-body">
        <%= form_for(User.new, url: registration_path(:user)) do |f| %>
            <div>
              <%= f.label :email, "Email"  %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div>
              <%= f.label :password, "Пароль"  %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div>
              <%= f.label :password_confirmation, "Повторите пароль"  %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div><%= f.submit "Зарегистрироваться" %></div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
