<%= simple_form_for(@request) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
<%= f.input :open_date,:label => "Дата открытия"  %>
<%= f.input :dop_info,:label => "Дополнительная информация"  %>
<%= f.input :status,:label => "Статус" %>
<%= f.input :tourist_id,:label => "ID туриста" %>
<%= f.input :operator_id,:label => "ID оператора" %>
<%= f.input :tour_id,:label => "ID путевки" %>
<%= f.input :close_date,:label => "Дата закрытия"  %>
 </div>

  <div class="form-actions">
  
<%= f.button :submit,:class => 'btn btn-mini'%>
  </div>
<% end %>