<%= simple_form_for(@request) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
<%= f.input :open_date,:label => "Дата создания"  %>
<%= f.input :dop_info,:label => "Старана"  %>
<%= f.input :dop_info,:label => "Город"  %>
<%= f.input :dop_info,:label => "Турист"  %>
<%= f.input :dop_info,:label => "Отель"  %>
<%= f.input :status,:label => "Кол-во детей" %>
<%= f.input :dop_info,:label => "Сотрудник"  %>
<%= f.input :status,:label => "Номер путевки" %>
<%= f.input :dop_info,:label => "Стоимость, руб."  %>
<%= f.input :status,:label => "Статус" %>
<%= f.input :dop_info,:label => "Доп. информация"  %>
 </div>

  <div class="form-actions">
  
<%= f.button :submit,:class => 'btn btn-mini'%>
  </div>
<% end %>