<table class="table">
<thead>
	<tr>
		<th>
			Список заявок
		</th>
	</tr>

</thead>
<tbody>
<% @requests.each do |request| %>
	<tr>
		<td>
			Номер заявки: <%= request.id %>
		</td>

		<td>
			<%= link_to 'Редактировать' ,edit_request_path(request) %>
		</td>

		<td>
			<%= link_to 'Удалить' ,request_path(request), method: :delete, data: {confirm: 'Вы уверены?'}  %>
		</td>
	</tr>
<% end %>
</tbody>


</table>

<p><%= link_to 'Новая заявка' ,new_request_path %></p>
<p><%= link_to 'Все заявки' ,requests_path %></p>