<table class="table ">
  <thead>
    <tr>
      <th id='titl'>Список заявок</th>
      <th id='titl'>Дата создания</th>
      <th id='titl'>Статус</th>
    </tr>
  </thead>

<tbody>
	<% @requests.each do |request| %>
		<tr>
			<td id='titl'>ID Заявки: <%= request.id %></td>
			<td id='titl'> <%= request.open_date %></td>
			<td id='titl'><%= request.status %></td>
			<td>
				<%= link_to 'Редактировать' ,edit_request_path(request),:class => 'btn btn-mini'  %>
				<%= link_to 'Удалить' ,request_path(request), method: :delete, data: {confirm: 'Вы уверены?'} ,:class => 'btn btn-mini' %>
					
				</td>
		</tr>
	<% end %>
</tbody>
</table>
</br>
<%= link_to 'Новая Заявка', new_request_path ,:class => 'btn btn-mini' %>