<table class="table table-responsive">
<thead>
	<tr>
		<th>Заявка ID</th>
		<th><%= @request.id %></th>
	</tr>

</thead>
<tbody>
	<tr>
		<td>Дата открытия</td>
		<td><%= @request.open_date %></td>
	</tr>
	<tr>
		<td>Дополнительная информация</td>
		<td><%= @request.dop_info %></td>
	</tr>

	<tr>
		<td>Статус</td>
		<td><%= @request.status %></td>
	</tr>

	<tr>
		<td>ID туриста</td>
		<td><%= @request.tourist_id %></td>
	</tr>

	<tr>
		<td>ID оператора</td>
		<td><%= @request.operator_id %></td>
	</tr>

	<tr>
		<td>ID путевки</td>
		<td><%= @request.tour_id %></td>
	</tr>

	<tr>
		<td>Дата закрытия</td>
		<td><%= @request.close_date %></td>
	</tr>
	
</tbody>


</table>

<%= link_to 'Редактировать' ,edit_request_path(@request),:class => 'btn btn-mini'  %>
<%= link_to 'Назад', requests_path,:class => 'btn btn-mini'  %>