<p id="notice"><%= notice %></p>

<h1>Listing Elmotors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elmotors.each do |elmotor| %>
      <tr>
        <td><%= link_to 'Show', elmotor %></td>
        <td><%= link_to 'Edit', edit_elmotor_path(elmotor) %></td>
        <td><%= link_to 'Destroy', elmotor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Elmotor', new_elmotor_path %>
