<footer>
                <div class="container">
                    <div class="footer-map">
                        <div class="col-md-3 col-sm-3 col-xs-12 footer-block1">
                            <h3>Услуги</h3>
                            <ul>
                                <li><%= link_to "Подбор тура", tourRequest_path %></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 footer-block1">
                            <h3>Страны</h3>
                            <ul>
                                <li><%= link_to "Россия", "#" %></li>
                                <li><%= link_to "Абхазия", "#" %></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 footer-block1">
                            <h3>Клиентам</h3>
                            <ul>
                                <li><%= link_to "Просмотреть договор", checkstatus_path %></li>
                                <li><%= link_to "Частые вопросы", faq_path %></li>
                                <li><%= link_to "Фотогалерея", photogallery_path %></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 footer-block1">
                            <h3>Компания</h3>
                            <ul>
                                <li><%= link_to "О компании", about_path %></li>
                                <li><%= link_to "Отзывы клиентов", reviews_path %></li>
                                <li><%= link_to "Контактная информация", contact_path %></li>
                            </ul>
                        </div>
                    </div>
                     <div class="name">
                        <p>Mirabela,2017</p>
                    </div>
                    <div class="mail">
                        <p>belir@mail.ru</p> 
                    </div>
                </div>
               
            </div>
        </footer>