<header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
      
        <div class="nav-header">
          <div class="top-logotip col-md-4 col-sm-4 col-xs-12">
          <%= link_to "Мирабела-Тур", root_path, id: "logo" %>
          </div>

           <div class="top-informat col-md-4 col-sm-4 col-xs-12">
            <p> Часы работы </p>
            <p>С 9:00 до 20:00</p>
            <p> Телефон</p>
            <p>+7 (909) 960 35 11</p>
            </div>

            <div class="top-spisok col-md-4 col-sm-4 col-xs-12">
              <ul class="nav " id="firstul">
                
                <li>
                <% if current_user %>
                  <%= "Привет, #{current_user.email}" %>
                  <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
                <% else %>
                  <%= link_to "Авторизация", "#sign_in", "data-toggle" => "modal" %>
                  
                  <%= link_to "Регистрация", "#sign_up", "data-toggle" => "modal" %>
                <% end %>
                </li>
                <li><%= link_to "Помощь", "#" %></li>
               </ul>  
            </div>

           
            <div class="top-menu ">
             <ul class="nav pull-left" id="secondul">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Поиск тура", tourRequest_path %></li>
              <li><%= link_to "Фотогалерея", photogallery_path%></li>
              <li><%= link_to "Сотруднику", "#" %></li>
              <li><%= link_to "Туристу", information_path, id:"form_sub", class:"fh5co-sub-ddown" %>
              </li>
              <li><%= link_to "О компании", about_path %></li>
              

               <%# <a href="vacation.html" class="fh5co-sub-ddown">Vacations</a>
                <ul class="fh5co-sub-menu">
                  <li><a href="#">Family</a></li>
                  <li><a href="#">CSS3 &amp; HTML5</a></li>
                  <li><a href="#">Angular JS</a></li>
                  <li><a href="#">Node JS</a></li>
                  <li><a href="#">Django &amp; Python</a></li>
                </ul>


                <ul class="fh5co-sub-menu">
                  <li><a href="#">Family</a></li>
                  <li><a href="#">CSS3 &amp; HTML5</a></li>
                  <li><a href="#">Angular JS</a></li>
                  <li><a href="#">Node JS</a></li>
                  <li><a href="#">Django &amp; Python</a></li>
                </ul>


              %>
            </ul>
          </div>




        </div>
      </div>
    </header>
