<header id="fh5co-header-section" class="sticky-banner">
  <div class="container">
    <div class="nav-header">
       <%= link_to "МИРАБЕЛА", root_path, id: "logo" %>
       <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="nav pull-right" id="firstul">

        
          <li><%= link_to "Помощь", help_path %></li>
          <li><%= link_to "Личный кабинет", signup_path %></li>
        </ul>  
        <ul class="nav pull-left" id="secondul">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Поиск тура", "#" %></li>
          <li><%= link_to "Страны и города", "#" %></li>
          <li><%= link_to "Фотогалерея", photogallery_path %></li>
          <li><%= link_to "Информация туристам", information_path %></li>
          <li><%= link_to "О компании", about_path %></li>
          <li><%= link_to "Контакты", contact_path %></li>

        </ul>
      </nav>
     </div> 
    </div>
  </header>