<header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
      
        <div class="nav-header">
          <div class="top-logotip col-md-4 col-sm-4 col-xs-12">
          <%= link_to "Электродвигатели", root_path, id: "logo" %>
          </div>

           <div class="top-menu col-md-8 col-sm-8 col-xs-12">
             <ul class="nav pull-left" id="secondul">
              
              <li><%= link_to "Конфигуратор", config_path%></li>
              <li class="dropdown"><%= link_to "Материалы", config_path, :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %>

                <ul class="dropdown-menu" id = "setupdrop">
                  <li><%= link_to 'Электроприводы', elmotor_info_path %></li>
                  <li><%= link_to 'Электродвигатели', edrive_info_path%></li>
                   <li><%= link_to "Редукторы", reducer_info_path %></li>
                </ul>

              </li>




              <li class="dropdown"><%= link_to "Приборы", information_path, :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %>

                <ul class="dropdown-menu" id = "setupdrop">
                 <li><%= link_to 'Электроприводы', elmotor_info_path %></li>
                  <li><%= link_to 'Электродвигатели', edrive_info_path%></li>
                   <li><%= link_to "Редукторы", reducers_path %></li>
                </ul>

              </li>
              <li><%= link_to "Библиотека", bibliotek_path%></li>
            </ul>

            
          </div>
              
          </div>

           



        </div>
    </header>
